[MESSAGES CONTROL]
disable=all
enable=invalid-name,
       empty-docstring,
       blacklisted-name,
       mixed-indentation,
       boolean-datetime,
       useless-import-alias,
       wrong-import-order

[BASIC]
attr-naming-style=snake_case
